@media(max-width:1000px){
  .container{
    width:650px;
  }

  header{
    height:95px;
  }

  .logo{
    display:block;
    float:none;
    margin:0 auto;
    margin-top:10px;
  }

  .menu-bar{
    float:none;
    height:40px;
    width:600px;
    margin:0 auto;
    margin-top:10px;
  }

  .menu{
    height:40px;
  }

  .menu a{
    line-height: 40px;
  }

  .top-wrapper{
    height:480px;
  }

  .top-wrapper h1{
    font-size:70px;
  }

  .top-wrapper h2{
    font-size:28px;
  }

  .topic h3{
    font-size:18px;
  }

  .topic h2{
    font-size:24px;
  }

  .cherry{
    height:400px;
  }

  .cup{
    height:400px;
  }

  .footer-logo{
    display:block;
    padding-top:10px;
    margin:0 auto;
  }

}
@media(max-width:670px){
  .container{
    width:90%;
  }

  header{
    height:60px;
  }

  .logo{
    margin:10px auto 0 30%;
  }

  .menu-bar{
    display: none;
  }

  .menu-icon{
    display:block;
  }

  .top-wrapper{
    height:250px;
  }

  .top-wrapper h1{
    font-size:36px;
    letter-spacing: none;
    padding-top:70px;
  }

  .top-wrapper h2{
    font-size: 20px;
  }

  .top-wrapper span{
    display:block;

  }

  .topic h3{
    font-size:12px;
  }

  .topic h2{
    font-size: 16px;
  }

  .cherry{
    height:300px;
  }

  .cup{
    height:300px;
  }

  footer{
    height:50px;
  }

}

@media(max-width:500px){
  .cherry{
    height:250px;
  }

  .cup{
    height:250px;
  }
}
