@media(max-width:1000px){
  .menu-bar{
    display: none;
  }

  .menu-icon{
    display:block;
  }

  .swiper-container{
    height:300px;
  }

  .first p{
    padding-top:120px;
    font-size:32px;
  }

  .large{
    display:none;
  }

  .middle{
    display:block;
  }

  .thread-top h1{
    font-size:50px;
  }
}

@media(max-width:670px){
  p,li{
    font-size:16px;
  }

  .content{
    width:95%;
  }

  .swiper-container{
    height:150px;
  }

  .first p{
    padding-top:35px;
  }
  
  .first span{
    display:inline;
  }
  
  .second{
    background-image: url("twitter-follow2.png");
  }

  .timeline-heading{
    font-size:24px;
  }

  .middle{
    display:none;
  }

  .small{
    display:block;
  }

  .thread-top{
    height:200px;
  }

  .thread-top h1{
    display:none;
  }


}
