@media(max-width:1000px){
  header{
    height:90px;
  }

  .logo{
    display:block;
    margin:9px auto;
    float:none;
  }

  .menu-bar{
    float:none;
    width:655px;
    margin:0 auto;
    margin-top:10px;
  }

  .menu{
    line-height: 40px;
    background-color: none;
  }

  .menu:hover{
    background-color:rgba(0,0,0,0);
    text-decoration: underline;
  }

  .top-wrapper{
    height:480px;
  }

  .top-wrapper h1{
    font-size:80px;
  }

  .top-wrapper p{
    font-size:28px;
  }

  .schedule-wrapper li{
    font-size:24px;
    line-height: 80px;
  }

  .schedule-wrapper span{
    font-size:36px;
  }

  .topic{
    margin-top:20px;
  }

  .footer-logo{
    display:block;
    padding-top:10px;
    margin:0 auto;
  }

  footer{
    height:50px;
  }

}
@media(max-width:670px){

  p,a{
    font-size:10.5px;
  }

  .btn{
    border:none;
  }

  header{
    height:50px;
  }

  .logo{
    position:absolute;
    top:3px;
    left:10px;
    height:25px;
  }

  .menu-bar{
    display: none;
  }

  .menu-icon{
    display:block;
  }

  .top-wrapper{
    height:260px
  }

  .top-wrapper h1{
    font-size:36px;
    letter-spacing:none;
    padding-top:70px;
  }

  .top-wrapper p{
    font-size: 20px;
    margin-top:0;
  }

  .top-wrapper span{
    display:block;
  }

  .schedule-wrapper h2{
    font-size:24px;
    line-height:40px;
  }

  .schedule-wrapper li{
    font-size:10.5px;
    line-height: 30px;
  }

  .schedule-wrapper span{
    font-size:18px;
  }

  .topic-wrapper{
    padding:0;
  }

  .topic{
    margin-top:0;
  }

  .win{
    position: relative;
    background-color:black;
  }

  .win-text{
    width:100%;
    position:absolute;
    text-align: center;
    top:40%;
    color:white;
    padding-left:0;
    z-index: 8;
  }

  .win h2{
    font-size:20px;
  }

  .win a{
    background-color:white;
    padding:5px 80px;
    border-radius: 20px;
  }

  .fa-arrow-circle-right{
    display:none;
  }

  .win img{
    width:100%;
  }
}
