html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration:none;
}

*{
  box-sizing: border-box;
}

h1,h2,h3{
  font-weight: normal;
}

.btn{
  padding:16px 24px;
  display: inline-block;
  color:black;
  border:1px solid black;
}

header{
  height: 60px;
  width:100%;
  background-color: rgba(130,0,50,0.9);
  border-bottom:1px solid rgb(200, 200, 200);
  position :fixed;
  top:0;
  z-index: 10;
}

.logo{
  height:32px;
  margin:12px 0 16px 8%;
  float:left;
}

.logo:hover{
  cursor: pointer;
  opacity:0.9;
}

.menu-bar{
  float:right;
  margin-right:8%;
}

.menu{
  float:left;
  color:white;
  line-height: 59px;
  padding:0 20px;
  text-align: center;
  transition: all 0.3s;
}

.menu:hover{
  background-color: rgb(180, 50, 100);
}

.menu-icon{
  color:white;
  font-size:28px;
  position:absolute;
  top:12px;
  right:16px;
  display:none;
}

.top-wrapper{
  height:700px;
  background-image: url("top-image.jpg");
  background-size:cover;
  text-align:center;
  color:white;
  font-weight:normal;
}

.top-wrapper h1{
  font-size:128px;
  letter-spacing: 5px;
  padding-top:120px;
}

.top-wrapper p{
  font-size:45px;
  margin-top:20px;
}

.schedule-wrapper{
  background-image: url("wine-red.jpg");
  background-size: cover;
  color:white;
  text-align:center;
}

.schedule-wrapper h2{
  line-height:100px;
  width:80%;
  margin:0 auto;
  font-size:48px;
  border-bottom:1px solid white;
}

.schedule-wrapper li{
  font-size:28px;
  line-height: 100px;
}

.schedule-wrapper span{
  font-size:48px;
}

.topic-wrapper{
  padding:10px 0 30px 0;
}

.topic{
  margin-top:30px;
}

.win-text{
  display:inline-block;
  width:40%;
  float:left;
  padding-left: 10%;
}

.win h2{
  margin-top:10%;
}

.win img{
  display:block;
  width:60%;
}

footer{
  height:200px;
  background-color: rgb(130,0,50);
  width:100%;
}

.footer-logo{
  width:120px;
  margin:20px 0 0 10%;
}

.footer-logo:hover{
  cursor:pointer;
  opacity:0.9;
}
