html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  font-weight:normal;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration:none;
}

*{
  box-sizing: border-box;
}

header{
  height: 50px;
  width:100%;
  background-color: rgba(130,0,50,0.9);
  position :fixed;
  top:0;
  z-index: 10;
}

.logo{
  display:block;
  height:30px;
  margin:8px 20px 12px 20px;
  float:left;
}

.logo:hover{
  cursor: pointer;
  opacity:0.9;
}

.menu-bar{
  float:left;
}

.menu{
  float:left;
  color:white;
  line-height: 50px;
  padding:0 20px;
  text-align: center;
  transition: all 0.3s;
}

.menu:hover{
  background-color: rgb(180,50,100);
}

.menu-icon{
  float:right;
  color:white;
  font-size:30px;
  padding:10px;
  display:none;
}

.menu-icon:hover{
  cursor:pointer;
}

.navigation{
  text-align:center;
  background-color: rgba(150,40,80,0.9);
  position:absolute;
  top:50px;
  right:0;
  display: none;
}

.sub-menu{
  display:block;
  margin:0 auto;
  color:white;
  line-height:30px;
  transition:all 0.3s;
  padding:10px;
  border-bottom:1px solid rgb(243,243,243);
}

.sub-menu:hover{
  background-color: rgb(243,243,243);
  color:rgba(150,40,80,0.9);
}

main{
  text-align:center;
  padding-top:50px;
  height:1800px;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.swiper-container{
  width:100%;
  height: 400px;
}

.swiper-slide{
  background-size:cover;
  display:block;
}

.first{
  background-image:url("thread-background.jpg");
}

.first p{
  color:white;
  padding-top:150px;
  font-size:50px;
}

.first span{
  display:none;
}

.second{
  background-image:url("twitter-follow.png");
}

.arrow:after{
  color:white;
}

.swiper-pagination-bullet{
  background-color:white;
  height:20px;
  width:20px;
}

.topics{
  margin-top:20px;
}

.heading{
  display: block;
  padding-left:5px;
  margin:30px auto 20px auto;
  border-bottom:1px solid rgb(200,200,200);

}

.second-heading{
  color:rgb(130,0,50);
}

.content{
  text-align: left;
  width:670px;
  margin:0 auto;
  padding-bottom:30px;
}

.timeline-wrapper{
  background-color: rgb(200,200,200);
  padding:20px 0;
}

.timeline-heading{
  color:white;
  font-size:40px;
  width:90%;
  margin:0 auto 20px auto;
}

.middle{
  display:none;
}

.small{
  display:none;
}

.thread-top{
  padding-top:150px;
  height:500px;
  background-image: url("thread-background.jpg");
  background-size: cover;
}

.thread-top h1{
  font-weight: normal;
  font-size:72px;
  color:white;
  letter-spacing: 5px;
}

.btn{
  display:inline-block;
  color:white;
  background-color: rgb(200,150,0);
  padding:14px 28px;
  border-radius: 5px;
  box-shadow:0 5px #252525;
  position:relative;
  transition: all 0.2s;
}

.btn:hover{
  opacity:0.8;
}

.btn:active{
  top:5px;
  box-shadow: none;
}

.manager{
  background-color: #55acee;
  box-shadow:0 5px rgb(100,100,100);
}

footer{
  background-color: rgb(200,200,200);
  width:100%;
  color:white;
}

.footer-logo{
  display:block;
  padding: 10px 0;
  margin:0 auto;
  width:120px;
}

.footer-logo:hover{
  cursor:pointer;
  opacity:0.9;
}

.copy-right{
  text-align: center;
  font-size:12px;
  padding:10px 0;
  width:95%;
  margin:0 auto;
  border-top:1px solid white;
}
